body {
    background-color: #f0f0f0; /* Change this to your desired background color */
}

/* styles.css */
.title {
    background: linear-gradient(0deg, #120656 0%, #430a61 100%);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width */
}

.pays {
    background: linear-gradient(0deg, #375038 0%, #1f83aa 100%);
    color: rgb(214, 222, 231);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width */
}

.graph {
    background: linear-gradient(0deg, #375038 0%, #1f83aa 100%);
    color: rgb(214, 222, 231);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: flex; /* Adjusts background to content width */
}
.resume{
    color: #d1b9d49d;
    font-size: 14px;
    display: inline-block; /* Adjusts background to content width */
    max-height: 200px;  /* Adjust this value as needed */
    overflow-y: auto;
}

.stSelectbox:first-of-type {
    background: linear-gradient(0deg, #0e011fb9 0%, #14201481 100%);
    color: rgb(214, 222, 231);
    padding: 10px;
    border-radius: 14px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 18px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width */

}

body {
    background-color: #f0f0f0; /* Change this to your desired background color */
}

/* styles.css */
.title {
    background: linear-gradient(0deg, #120656 0%, #430a61 100%);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width */
}

.pays {
    background: linear-gradient(0deg, #375038 0%, #1f83aa 100%);
    color: rgb(214, 222, 231);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: inline-block; /* Adjusts background to content width */
}

.graph {
    background: linear-gradient(0deg, #375038 0%, #1f83aa 100%);
    color: rgb(214, 222, 231);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;    
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    display: flex; /* Adjusts background to content width */
}
.resume{
    color: #d1b9d49d;
    font-size: 14px;
    display: inline-block; /* Adjusts background to content width */
    max-height: 200px;  /* Adjust this value as needed */
    overflow-y: auto;
}

